In [12]:
import pandas as pd
#q1
pd.__version__

#q2
csv = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [13]:
csv.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [14]:
csv.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [16]:
#q3
csv.fuel_type.describe()

count         9704
unique           2
top       Gasoline
freq          4898
Name: fuel_type, dtype: object

In [22]:
#q4
csv.isnull().describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
count,9704,9704,9704,9704,9704,9704,9704,9704,9704,9704,9704
unique,1,2,2,1,2,1,1,1,1,2,1
top,False,False,False,False,False,False,False,False,False,False,False
freq,9704,9222,8996,9704,8774,9704,9704,9704,9704,9202,9704

In [38]:
#q5
csv.head()
csv[csv.origin == 'Asia'].fuel_efficiency_mpg.describe()

count    3247.000000
mean       14.973830
std         2.578345
min         6.886245
25%        13.252010
50%        15.034670
75%        16.726318
max        23.759123
Name: fuel_efficiency_mpg, dtype: float64

In [94]:
#q6
csv.horsepower.describe()
mode = csv.horsepower.mode()
csv.horsepower.isnull()

csv.horsepower.fillna(mode)
csv.horsepower.median()

149.0

In [93]:
#q7
X = csv[csv.origin == 'Asia'][['vehicle_weight','model_year']].head(7)
X_T = X.T
X_T_X = X_T.dot(X)

import numpy as np
X_T_X_inv = np.linalg.inv(X_T_X.values)
X_T_X_inv

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])


# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = X_T_X_inv.dot(X_T).dot(y)
w.sum()

np.float64(0.5187709081074016)